.appointment-modal {
    z-index: 1001;
}

.rdrCalendarWrapper {
  width: 100% !important;
  min-width: 0 !important;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
